@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;600;700&family=Work+Sans:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  font-family: "Work Sans", Helvetica, sans-serif;
  background-color: #0f172a;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #334155 transparent;
}
